* {
box-sizing: border-box;
}

body {
margin: 0px;
font-family: sans-serif;
}

#container {
width: 500px;
height: 100vh;
background-color: #838383;
font-size: 0px;
}

.block {
display: inline-block;
width: 100px;
height: 100px;
background-color: #838383;
box-shadow: inset 1px 1px 15px
}

.blue {
background-color: blue;
border: 10px inset rgb(0, 0, 143)
}

.red {
background-color: red;
border: 10px inset rgb(143, 0, 0)
}

.orange {
background-color: orange;
border: 10px inset rgb(128, 81, 0)
}

.purple {
background-color: rgb(199, 15, 199);
border: 10px inset rgb(26, 0, 25)
}