* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#background-image {
    background-image: url(../images/banana\ background.png);
    height: 100vh;
    background-size: cover;
    display: flex;
    background-position: center center;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.background-content h1 {
    text-align: center;
    margin: 100;
    padding-top: 500px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;

}

#layout h2 {
    justify-content: center;
    color: rgb(0, 0, 0);
}

#layout {
    max-width: 800px;
    margin: 28px auto;
    text-align: center;
}

.fruit-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.fruit-gallery img {
    height: 250px;
    width: 100%;
    flex: 1;
    display: grid;
    object-fit: cover;
    border: 10px solid;
    border-color: chartreuse;
    
}

#navbar {
    background: linear-gradient(rgb(255, 162, 0), rgb(150, 95, 0));
    display: flex;
    justify-content: center;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}


@media screen and (max-width: 588px) {
    /*body {
        background-color: blue;
    }*/

        .background-content h1 {
            text-align: center;
            margin: 100;
            padding-top: 400px;
            font-size: 40px;
}

        #navbar {
            flex-direction: column;
            text-align: center;
        }    

        #navbar a {
            font-size: 17px;
        }

        .fruit-gallery {
            grid-template-columns: 1fr;
        }

}