 * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(73, 73, 255);


}

#blog {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

img {
    box-shadow: 21px 25px 36px;

}
