* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

span {
    background-color: blueviolet;
}

div {
    color: brown;
}

.narrow {
    background-color: aquamarine;
    color: black
}