 * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#first-paragraph {
    color: blue;
}

#second-paragraph {
    background-color: brown;
    color:white
}

#span-1 {
    color:rgb(10, 42, 251)
}

#span-2{
    color: chocolate;
}