* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Tiny5;
}

h4 {
    font-family: Handelson One;
    color: gold;
}

h1 {
    font-family: Arial Black;
    color: yellow;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gold;
}

.light-outer-container {
    background: radial-gradient(rgb(255, 0, 0), rgb(13, 0, 255));
    padding: 25px 35px 100px;
    text-align: center;
}

img {
    width: 200px;
}

.single-column {
    max-width: 500px;
    padding: 50px 24px;
    display: inline-block;
    background: linear-gradient(rgb(88, 88, 255), rgb(0, 0, 180));
}

h1 {
    display: inline-block;
}

.double-column {
    max-width: 500px;
    padding: 50px 24px;
    display: inline-block;
    background: linear-gradient(rgb(255, 0, 0), rgb(168, 0, 0));
}

#info-content {
    background: radial-gradient(rgb(156, 69, 232), rgb(21, 0, 255));
}

#info-more {
    background: radial-gradient(rgb(232, 85, 69), rgb(210, 2, 2));
}

#info-more {
    background: radial-gradient(rgb(232, 85, 69), rgb(210, 2, 2));
}

.cta-buttonyes {
    font-size: 16px;
    display: inline-block;
    font-family: Arial Black; 
    color: rgb(205, 184, 252);
    font-weight: bolder;
    background: linear-gradient(rgb(68, 0, 255), rgb(0, 5, 106));
    margin-right: 100px;
    border-radius: 55px;
    text-decoration-line: none;
    padding: 20px;
}

.cta-buttonno {
    font-size: 16px;
    display: inline-block;
    font-family: Arial Black; 
    color: rgb(134, 144, 235);
    font-weight: bolder;
    background: linear-gradient(rgb(68, 0, 255), rgb(0, 5, 106));
    margin-left: 100px;
    border-radius: 55px;
    text-decoration-line: none;
    padding: 20px;  
}