* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h4 {
    font-family: Handelson One;
    color: rgb(255, 255, 255);
    font-size: 26px;
}

h1 {
    font-family: Arial Black;
    color: rgb(172, 191, 255);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}

.light-outer-container {
    padding: 25px 35px 100px;
    text-align: center;
    align-items: center;
    justify-content: center center;
    background: linear-gradient(rgb(99, 99, 233), rgb(2, 0, 70));
}

img {
    width: 200px;
}

#inner-column {

    background-image: url(../images/478242451.jpg);
    border: 5px solid;
    margin-left: 215px;
    align-items: center;
    justify-content: center center;
    max-width: 800px;
    border-color: rgb(140, 106, 255)
}

.single-column {
    max-width: 500px;
    padding: 50px 24px;
    display: inline-block;
    background: linear-gradient(rgb(88, 88, 255), rgb(0, 0, 180));
}

h1 {
    display: inline-block;
}

.double-column {
    max-width: 500px;
    padding: 50px 24px;
    display: inline-block;
    background: linear-gradient(rgb(255, 0, 0), rgb(168, 0, 0));
}

#info-content {
    background: radial-gradient(rgb(90, 71, 255), rgba(21, 0, 255, 0) 70%);
}

#info-more h3 {
    background: radial-gradient(rgb(255, 124, 124), rgba(253, 0, 0, 0));
}

p {
    font-size: larger;
    font-weight: bolder;
    background: none;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#info-more {
    background: radial-gradient(rgb(58, 66, 229) 15%, rgba(210, 2, 2, 0) 75%);
}

.cta-buttonyes {
    font-size: 16px;
    display: inline-block;
    font-family: Arial Black; 
    color: rgb(205, 184, 252);
    font-weight: bolder;
    background: linear-gradient(rgb(68, 0, 255), rgb(0, 5, 106));
    margin-right: 100px;
    border-radius: 55px;
    text-decoration-line: none;
    padding: 20px;
}

.cta-buttonno {
    font-size: 16px;
    display: inline-block;
    font-family: Arial Black; 
    color: rgb(134, 144, 235);
    font-weight: bolder;
    background: linear-gradient(rgb(68, 0, 255), rgb(0, 5, 106));
    margin-left: 100px;
    border-radius: 55px;
    text-decoration-line: none;
    padding: 20px;  
}