* {
box-sizing: border-box;
}

body {
margin: 0px;
font-family: sans-serif;

}

#sidebar {
    background-color: #333333;
    color: white;
    width: 500px;
    min-height: 100vh;
    padding: 24px;
}


.chapter {
    font-weight: bolder;
}

.edit {
color: orange;
font-style: italic;
}


#chapter {
font-weight: bold;
font-size: 24px;
}

.chapter.edit {
color: red;
}


