 * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.shadowed {
    background-color: rgb(155, 151, 151);
    margin: 14px;
    padding: 1px;
    /* x-offset, y-offset, blur-radius, color */
    box-shadow: 8px 8px 8px
}

p {
    font-size: 18px;
    color: blue
}