 * {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/red-brick-wall.jpg");
}



.block {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    align-content: center;
    text-align: center;
    vertical-align: top;
    margin-inline: 110px;

}

.square-photo {
    background-color: rgb(157, 94, 5);
    border-width: 25px;
    border-style: inset;
    border-color: rgb(165, 99, 0);
    box-shadow: 2px 20px 35px;
}

.tall-photo {
    background-color: rgb(40, 4, 160);
    border-width: 15px;
    border-style: inset;
    border-color: rgb(68, 0, 255);
    box-shadow: 2px 20px 35px;
}

.wide-photo {
    background-color: rgb(49, 49, 49);
    border-width: 15px;
    border-style: inset;
    border-color: rgb(139, 139, 139);
    box-shadow: 2px 20px 35px;
}

.large-photo {
    background-color: rgb(127, 127, 127);
    border-width: 25px;
    border-style: inset;
    border-color: rgb(210, 204, 204);
    box-shadow: 2px 20px 35px;
    border-radius: 40px;
}

