@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Knewave&family=Orbitron:wght@400..900&family=Tiny5&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: linear-gradient(rgb(136, 136, 136), rgb(53, 53, 53));
}

#navbar {
    font-family: Knewave;
    background: linear-gradient(rgb(8, 8, 8), rgb(47, 47, 47));
    display: flex;
    justify-content: space-between;
}

#navbar a {
    color: white;
    display: inline;
    text-decoration: none;
}

.hero img {
    width: 100%;
    
}

.hero {
    /* These four properties are essential for every hero! */
    background-image: url(../images/stars-on-velvet.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-family: Knewave;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: rgb(255, 255, 255);
    text-align: right;
    flex-wrap: wrap;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    margin: 64px;
    padding: auto;
    align-items: center;
    justify-content: center;
}

.portfolio img {
    height: 250px;
    width: 100%;
    flex: 1;
    display: grid;
    object-fit: cover;
    border: 4px solid;
    border-color: silver;
}

