@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Knewave&family=Orbitron:wght@400..900&family=Tiny5&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: linear-gradient(rgb(136, 136, 136), rgb(53, 53, 53));
}

#navbar {
    font-family: Knewave;
    background-image: url(../images/sidewalk\ hero.png);
    display: flex;
    justify-content: space-between;
}

#navbar h1, p {
    color: white;
    display: inline-block;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    margin: 64px;
    align-items: center;
    justify-content: center;
    padding-left: 35px
}

.portfolio img {
    height: 250px;
    max-width: 283px;
    width: 100%;
    flex: 1;
    display: grid;
    object-fit: cover;
    border: 4px solid;
    border-color: silver;
}

