@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Knewave&family=Orbitron:wght@400..900&family=Tiny5&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background: linear-gradient(rgb(136, 136, 136), rgb(53, 53, 53));
}

#navbar {
    font-family: Knewave;
    background-image: url(../images/sidewalk\ hero.png);
    display: flex;
    justify-content: space-between;
}

#navbar h1, p {
    color: white;
    display: inline-block;
}

.portfolio {
    display: grid;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

